@font-face {
  font-family: 'OptimusPrinceps';
  src: url("../fonts/OptimusPrinceps.eot");
  src: url("../fonts/OptimusPrinceps.eot?#iefix") format('embedded-opentype'), url("../fonts/OptimusPrinceps.woff") format('woff'), url("../fonts/OptimusPrinceps.ttf") format('truetype'), url("../fonts/OptimusPrinceps.svg#OptimusPrinceps.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #4e5054;
}
pre .title {
  color: #a6e22e !important;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #4e5054;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
body {
  font-family: OptimusPrinceps, Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4e5054;
  margin: 0;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
}
code,
pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}
em {
  color: #787879;
}
p {
  word-spacing: 0.05em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: OptimusPrinceps;
  font-size: 2.5vh;
  text-align: center;
}
header {
  background: url("../images/header.jpg");
  background-position: center;
  background-size: cover;
  padding: 14vh;
}
header img {
  margin: 4vh;
}
@media only screen and (max-width: 768px) {
  header img {
    width: 60%;
  }
}
@media only screen and (max-width: 480px) {
  header img {
    width: 100%;
  }
}
header h2 {
  color: #fff;
}
a {
  text-decoration: underline;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 2vh 0 2vh 0;
}
h1 {
  font-size: 2em;
}
.inner {
  margin: 0 auto;
  width: 768px;
}
@media only screen and (max-width: 992px) {
  .inner {
    width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .inner {
    width: 480px;
  }
}
@media only screen and (max-width: 480px) {
  .inner {
    width: 100%;
  }
}
div.row {
  display: block;
}
div.row .column {
  vertical-align: top;
  display: inline-block;
  width: 49%;
}
@media only screen and (max-width: 768px) {
  div.row .column {
    display: block;
    width: 100%;
  }
  div.row .column img {
    width: 100%;
  }
}
section {
  padding: 8vh;
}
section h1 {
  color: inherit;
}
section.contrast {
  background: #4e5054;
  color: #fff;
}
section.headline {
  margin: 4vh 0;
  font-size: 1.5em;
}
section .platforms h2 {
  margin-top: 4vh;
  font-size: 1.1em;
  text-transform: uppercase;
}
section .platforms ul {
  margin-top: 4vh;
}
section .platforms ul li {
  list-style: none;
  display: inline-block;
}
section .platforms ul li a {
  display: inline-block;
  margin: 2vh;
}
section .platforms ul li a.unity {
  background: url("../images/sprites/unity.png") no-repeat top;
  display: inline-block;
  width: 60px;
  height: 62px;
}
section .platforms ul li a.unity:hover {
  background-position: bottom;
}
section .platforms ul li a.html5 {
  background: url("../images/sprites/html5.png") no-repeat top;
  display: inline-block;
  width: 56px;
  height: 63px;
}
section .platforms ul li a.html5:hover {
  background-position: bottom;
}
section .platforms ul li a.corona {
  background: url("../images/sprites/corona.png") no-repeat top;
  display: inline-block;
  width: 61px;
  height: 61px;
}
section .platforms ul li a.corona:hover {
  background-position: bottom;
}
section .projects {
  display: block;
}
section .projects a {
  border: 4px solid #787879;
  padding: 0;
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
section .projects a img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
  margin: 0;
}
section .projects a:hover {
  border-color: #fff;
}
footer {
  padding: 4vh;
}
